@using BlackSun.Core.Components.Base;
@inherits JsComponent

<div class="blacksun-card" id="@Identifier">
    <div class="card__img" style="background-image: url(@PhotoUrl)"></div>
    <div class="card__box card__box--c">
        <span class="card__box-number">02</span>
        <span class="card__box-tags">#techno #rave</span>
    </div>
    <div class="card__box card__box--d">
        <span class="card__box-category">Pulse Club</span>
    </div>
</div>