/* Стили для таблицы */
table {
  background-color: burlywood;
  border-collapse: collapse;
  width: 100%;
  border: 10px solid grey;
}

/* Стили для заголовков таблицы */
th {
  background-color: #f2f2f2;
  text-align: left;
  padding: 8px;
  border: 10px solid grey;
}

/* Стили для четных рядов */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Стили для нечетных рядов */
tr:nth-child(odd) {
  background-color: #ffffff;
}

/* Стили для ячеек */
td {
  text-align: left;
  padding: 8px;
  border: 10px solid grey;
}